nav {
    color: bisque;
}

ul {
    list-style: none;
    display: flex;
}
a {
    color: inherit;
    text-decoration: initial;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
}